@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family:"Lato-Cyliric-regular";
    src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  }
@font-face {
    font-family:"Lato-Cyliric-bold";
    src: url("/assets/fonts/Lato-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family:"Monteserrat-Cyliric-regular";
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family:"Monteserrat-Cyliric-bold";
    src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  }


html, * {
    font-family: 'Lato', sans-serif;
}

a, button {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

a {
    font-weight: 600;
}

p {
    font-family: "Lato-Cyliric-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $grey-700;
}

button {
    font-weight: 800;
}

@each $header, $size in (h1: 36px, h2: 30px, h3: 24px, h4: 20px, h5: 18px, h6: 16px) {
    #{$header} {
        font-size: $size;
    }
}

h1 {
    font-family: 'Lato-Cyliric-regular';
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

h2 {
    font-family: "Monteserrat-Cyliric-regular";
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    color: $grey-700;
}

h4{
    font-family: "Monteserrat-Cyliric-regular";
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    color: $blue-300;
}

h5{
    font-family: "Lato-Cyliric-regular";
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    color: $grey-700;
}

h6 {
    font-family: "Lato-Cyliric-regular";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
}

.h6--gray{
    margin-top: 8px;
    margin-bottom: 24px;
    color: $grey-400;
}

.h6--gray-700{
    margin-top: 8px;
    margin-bottom: 24px;
    color: $grey-700;
}

.h6--orange{
    color: $secondary-800;
}

span{
    font-family: "Lato-Cyliric-regular";
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
}

footer{
    a{
        font-family: "Lato-Cyliric-regular";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    }
}