.c-teachers-main{
input[type=text], select {
    width: 228px;
    height: 20px;
    padding: 16px 52px 16px 16px;
    margin: 8px 20px;
    background: $blue-300;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  ::placeholder{
      color: white;
  }
}



.c-contacts-main{
    &__contact-from-details{

        :nth-child(2){
            margin-right: 6px;
        }
        :nth-child(3){
            margin-right: 16px;
        }

        width: 850px;
        input[type=text], select {
            width: 410px;
            height: 50px;
            border: 1px solid #919191;
            box-sizing: border-box;
            border-radius: 6px;
            padding-left: 16px;  
            margin-bottom: 30px;

           
        }
    }



    &__contact-from-message{
        input[type=text], select {
            width: 850px;
            height: 190px;
            border: 1px solid #919191;
            box-sizing: border-box;
            border-radius: 6px;
            padding-left: 16px;  
            margin-bottom: 30px;
            padding-bottom: 140px;
        }
    }
   
}