html{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

*:before, *:after{
    box-sizing: inherit;
}


body{
    margin-left: 2em;
    width: 800px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: center;
}

div{
    align-content: space-evenly;
    background-color: black;
    color: white;
    padding: 1em;
    
}