.c-teachers-main{
    display: grid;
    grid-template-rows: 260px 550px 100px 1500px 420px;


    &__intro-section{
        background-color: $secondary-600;
        .o-page-content-wrapper{
            display:grid;
            justify-items: center;
            justify-content: center;
            align-items: center;
            align-content: center;
            color: white;
            width: 850px;

        }
        
            &-header{
                margin-top: 50px;
                margin-bottom: 0;
                text-align: center;
            }
            &-info{
                text-align: center;
             
            }
        }


    &__leaders{
        margin-top: 100px;
        .o-page-content-wrapper{
            display:grid;
            grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
            justify-items: center;
            justify-content: center;
            align-items: center;
            align-content: space-between;
            grid-column-gap: 30px;   
    }

    &-info{
        h4, h6{
            margin-bottom: 8px;
        }
    }

    &-images{
        margin-top: 30px;
        width: 188px;
        height: 188px;
        align-self: flex-start;
        justify-self: start;
     }

     .c-teachers-main__leaders-images:hover{
        transition: transform .2s;
        transform: scale(1.2);
     }

    }


    &__teachers-grid{
        .o-page-content-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            justify-items: center;
            justify-content: center;
            align-items: center;
            align-content: center;
            grid-row-gap: 64px;
               

        }

        &-person{
            text-align: center;
            

            &-image{
                background-image: url("assets/images/Elena-grid-4x4.png");
                width: 188px;
                height: 188px;
            }
            &-image:hover{
                transition: transform 3s;
                animation:spin 4s ease-in-out infinite;
                background-image: url("assets/images/Elena-grid-hover.png");
            }
          

        }

    }


    &__join{
        font-family: Montserrat;
        font-style: normal;
        background-color: $blue-300;
        .o-page-content-wrapper{
            display:grid;
            justify-items: center;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        &-info{
            margin-top: 20px;
            align-self: center;
            width: 800px;
           text-align: center;
           color: white;
        }
    }

}