@import '../settings/settings-shadows';
@import '../settings/_settings-colors';

.section-directors{
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;

    .directors{
        width: 400px;
        margin-left: 160px;

        h4{
            margin-bottom: 0;
        }

        .directors__image{
            position: relative;

            img{
                width: 188px;
                height: 188px;
                position: absolute;
                top: 30px;
                left: -220px;
            }
        }
    }
}