@import '../settings/settings-shadows';
@import '../settings/_settings-colors';

.paragraphs-and-video{
    margin-top: 120px;
    display: flex;
    justify-content: center;

    .paragraphs{
        width: 740px;
         p{
             width: 90%;
    }
}

    .video-card{
        width: 440px;
        height: 248px;
        position: relative;
        margin: 40px 75px;

    }
    .video-button{
        position: absolute;
        top: 36%;
        left: 42%;
    }
}