@import '../settings/settings-shadows';
@import '../settings/_settings-colors';

.section-more-information{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    

    .more-information{
       width: 544px;
       display: flex;
       text-align: left;

            .more-information--first{
                margin-left: 50px;
            }
            .icon-div{
            position: relative;

            .clock-icon, .more-info_icon{
                position: absolute;
                top: 30px;
                left: -10px;
            }

            .more-info_icon{
                position: absolute;
                top: 28px;
                left: -50px;
            }
        }

    }
    .orange-dots{
        margin: 30px 0;
    }
}