@import '../settings/settings-shadows';
@import '../settings/_settings-colors';

.certificate-and-picture {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .certificate-info {
        width: 670px;
        p {
            width: 80%;
        }
    }

    .picture-card {
        width: 363px;
        height: 256px;
        background-color: $grey-300;
        position: relative;
        right: 105px;
        margin: 40px 75px;
        border: none;
        box-shadow: $certificate-shadow;
        border-radius: 12px;
        

        .certificate-text {
            position: absolute;
            top: 90px;
            left: 90px;
        }
    }
}

.icon-div {
    position: relative;
    .certificate__icon {
        position: absolute;
        top: -45px;
        left: 55px;
    }
}
