html{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

*:before, *:after{
    box-sizing: inherit;
}

body{
    padding: 2em;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: coral;
    animation: circle-to-square ease-in-out 1s infinite alternate-reverse;
  }

@keyframes circle-to-square {
    0%  {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: red;
    }

    25%  {
        border-radius: 40% 40% 40% 40%;
        width: 120px;
        height: 120px;
        background-color: rgba(255, 0, 0, 0.884);
    }
    50%  {
      border-radius: 30% 30% 30% 30%;
      width: 130px;
      height: 130px;
      background-color: rgb(255, 102, 0);
    }
    75%  {
        border-radius: 15% 15% 15% 15%;
      background-color: rgb(255, 136, 0);
      width: 140px;
      height: 140px;
    }
    100%  {
        border-radius: 0 0 0 0;
        width: 150px;
        height: 150px;
        background-color: orange;
    }
  }

