.c-footer{
    height: 312px;
    background-color: $grey-700;
    .o-page-content-wrapper{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1.2fr;
        justify-content: center;
        justify-items: space-between;
        align-items: center;
        
    }

    &-huge-image{
        position: relative;
           &-img{
            position: absolute;
            bottom: -168px;
        }
     }

     h5{
        color: white;
        margin-bottom: 16px;
     }

    &-ul__softuni-kids{
        align-self: start;

            div{
             display: grid;
             grid-template-columns: 0.8fr 1fr;
             justify-content: center;
             justify-items: space-between;
             align-items: end;
            }
    }

    &-ul__all-studies{
        align-self: start;
    }

    &-ul__all-iniciatives{
        align-self: start;
    }

    &-ul__where-to-finds-us{
        align-self: start;


        display: grid;
        grid-gap: 10px;

        &-icons{
            display: grid;
            grid-template-columns: 70px 70px;
           
        }
        &-copy-rights{
            margin-top: 10px;
        }
        
    }
}