html{
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

*:before, *:after{
    box-sizing: inherit;
}

body{
    width: 1000px;
    padding: 2em;
    font-family: var(--font-family-content);
}

article{
    padding-bottom: 2em;
}

article:first-child{
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-headings);
    padding-bottom: 1em;
}

